* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --background-color: rgba(242, 237, 225, 1);
  --red-color: rgba(245, 117, 95, 1);
  --yellow-color: rgba(246, 189, 107, 1);
  --pearl-color: rgba(75, 192, 166, 1);
  --dark-color: rgba(60, 81, 93, 1);
  --black-color: rgba(48, 59, 72, 1);
  --card-color: rgba(214, 212, 197, 1)
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: RGBA(255, 255, 255, 1.00);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Sidebar */
.sidebarContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--sidebar-color);
  height: 100vh;
  width: 200px;
  transition: all 0.5;
  z-index: 100;
  /* box-shadow:  8px 0px 10px rgb(145, 52, 28), 4px 0px 4px rgb(194, 89, 63); */
}


.brand {
  color: var(--background-color);
  display: block;
}

.lower-section {
  display: flex;
  height: 100vh;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  color: var(--background-color);
}

.userAvatar {
  border-radius: 50px;
  border: 1px solid white;
  margin-bottom: 10px;
  width: 80px;
}

.link {
  margin: 10px 0;
  width: 200px;
  color: var(--background-color);
}

.link:hover {
  background-color: var(--hover-color);
}

.exit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.exit-button {
  border: none;
  background-color: var(--sidebar-color);
  color: var(--background-color);
  display: inline-block;
}

.icon {
  color: var(--background-color);
  margin-left: 30px;
}

.link-items {
  display: block;
}

.exit-icon {
  color: var(--background-color);
  cursor: pointer;
  margin-left: 10px;
}

.top-section {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-left: 10px;
}

/* Card Component Styling */
.card {
  width: 25rem;
  height: 18rem;
  background-color: var(--background-color);
  margin: 20px 10px;
  border-radius: 10px;
  border: none;
  box-shadow:  8px 8px 30px rgb(137, 134, 134), 4px 4px 4px rgb(137, 134, 134);
  cursor: pointer;
}

.card-icons {
  margin: 0 3px;
}

.date, .target {
  display: flex;
  justify-content: space-between;
  font-size: small;
}

.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  border-radius: 5px;
  border: none;
  margin-left: 20px;
  height: 30px;
  background-color: rgb(233, 229, 229);
  /* box-shadow:  4px 4px 10px rgb(150, 176, 155), 2px 2px 2px rgb(108, 116, 109); */
}

.dropdown-button {
  background: none;
  border: none;
  color: black;
  margin-right: 10px
}

.dropdown-button:hover, .dropdown-button:active{
  background-color: var(--background-color);
  color: var(--sidebar-color);
}

/* Dashboard */
.dashboard-table {
  border-radius: 10px;
  border: none;
  box-shadow:  8px 8px 30px rgb(199, 195, 195), 4px 4px 4px rgb(168, 165, 165);
}

/* Sign in/ Sign up*/
.sign-card {
  height: auto;
  width: 400px;
  background-color: var(--background-color);
  margin: 20px 10px;
  border-radius: 10px;
  border: none;
  box-shadow:  8px 8px 30px rgb(208, 205, 205), 4px 4px 4px rgb(236, 235, 235);
}

.sign-button {
  width: 19rem;
}

.create-account {
  margin-top: 10px
}

.signup {
  font-weight: 600;
  font-style: italic;
  color: blue;
  cursor: pointer;
}