* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --main-color: RGBA(193, 88, 61, 1.00);
  --secondary-color: RGBA(230, 244, 233, 1.00);
  --hover-color: RGBA(167, 72, 48, 1.00)
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: RGBA(230, 244, 233, 1.00);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  height: 100vh;
  transition: all 0.5;
  z-index: 100;
  box-shadow:  8px 0px 10px rgb(145, 52, 28), 4px 0px 4px rgb(194, 89, 63);
}

.brand {
  color: var(--secondary-color);
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  color: var(--secondary-color);
}

.lower-section {
  display: flex;
  height: 100vh;
}

.toggle {
  margin-top: 15px;
}

.link {
  margin: 10px 0;
  width: 200px;
  color: var(--secondary-color);
}

.link:hover {
  background-color: var(--hover-color);
}

.exit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.exit-button {
  border: none;
  background-color: var(--main-color);
  color: var(--secondary-color)
}

.icon {
  color: var(--secondary-color);
}

.exit-icon {
  color: var(--secondary-color);
  cursor: pointer;
}

.top-section {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-left: 10px;
}

/* Card Component Styling */
.card {
  height: 280px;
  width: 350px;
  background-color: var(--secondary-color);
  margin: 20px 10px;
  border-radius: 10px;
  border: none;
  box-shadow:  8px 8px 30px rgb(150, 176, 155), 4px 4px 4px rgb(108, 116, 109);
}

.date, .target {
  display: flex;
  justify-content: space-between;
  font-size: small;
}

.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 0;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userAvatar {
  width: 80px;
  border-radius: 50px;
  border: 1px solid white;
}

.searchBar {
  border-radius: 5px;
  border: none;
  margin-left: 20px;
  height: 30px;
  /* box-shadow:  4px 4px 10px rgb(150, 176, 155), 2px 2px 2px rgb(108, 116, 109); */
}

.dropdown-button {
  background: none;
  border: none;
  color: black;
  margin-right: 10px
}

.dropdown-button:hover, .dropdown-button:active{
  background-color: var(--secondary-color);
  color: var(--main-color);
}
